{
  "extends": "stylelint-config-standard",
  "rules": {
    "at-rule-no-unknown": [ true, {
      "ignoreAtRules": [
        "extend",
        "extends",
        "ignores",
        "mixin",
        "content",
        "include"
      ]
    }],
    "indentation": 2,
    "number-leading-zero": null,
    # "value-list-comma-space-after": always,
    "unit-whitelist": ["em", "rem", "s", "px", "%", "deg", "vw", "vh"]
  }
}
